*{
    margin: 0;
    padding: 0;
}
/* HEADER */
body header{
    text-align: center;
}
header{
    z-index: 1;
    position: relative;
    background-color: #09100D;
}
header div.href-headA{
    background-color: #09100D;
}
header .href-head{
    margin-top: -5%;
}
header div.href-head certificate,shop{
    margin-top: -20%;
}
header div.href-head contact,service{
    margin-top: -10%;
}
.href-head{
    display: grid;
    grid-template-columns: repeat(auto-fit,20%);
}
/* CONTENT */
.top-bottom{
    margin-top: 5%;
    margin-bottom: 5%;
}
.bottom{
    margin-bottom: 5%;
}
/*Font*/
a{
    font-family: 'Roboto', sans-serif !important;
    color: #FDFDFD;
    text-decoration: none;      /*Убираем подчёркивание текста*/
    font-size: 1.1vw; 
}
p{
    font-family: 'Roboto', sans-serif !important;
    color: #09100D;
    text-decoration: none;      /*Убираем подчёркивание текста*/
    font-size: 1vw; 
}
a:hover{    /*Меняет цвет при наведении*/
    text-decoration: none;
    color: #FF0588;
}
h2{
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.5vw; 
}
content div#content div#girl p, div#child p, div#shop p{
    text-align: center;
}
h3{
    font-family: 'Roboto', sans-serif !important;
    color: #FDFDFD;
    text-decoration: none;      /*Убираем подчёркивание текста*/
    font-size: 1.1vw; 
    font-weight: normal;
}
figcaption{
    font-family: 'Roboto', sans-serif !important;
    font-size: 95%;
    color: #000000;
}
/* INDEX-CONTENT */
/*Fon*/
#fon{
    height: 750px;
    width: 100%;
    background-color: #09100D;
}
/*Photo*/
.gallery{
    margin-top: 13%;
    display: flex;
    justify-content: center;/*определяет, как браузер распределяет пространство между и вокруг элементов контента вдоль главной оси flex контейнера, или вдоль строчной оси grid контейнера.*/
    align-items: center;/*Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.*/
    position: absolute;/*Положение элемента устанавливается относительно его исходного места. + Изменяеться с помощью top, left...*/
    width: 200px;
    height: 200px;
    left: 43%;
    transform: translate(-50%,-50%);/*Позволяет расположить элемент точно по центру экрана*/
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}
@keyframes animate{
    0%
    {
        transform: perspective(1000px) rotateY(0deg);
    }
    100%
    {
        transform: perspective(1000px) rotateY(360deg);
    }
}
.gallery span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
}
.gallery span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    display: grid;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
/*Girl*/
.content #girl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
}
.grid-8blok:nth-child(1){
    grid-column: 1 / 3;
}
.grid-8blok:nth-child(2){
    display: grid;
    grid-column: 3 / 5;
    text-align: center;
}
#girlName{
    margin-top: 10%;
}
/*Man*/
.content #man{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
}
.grid-8blok:nth-child(1){
    display: grid;
    text-align: center;
    grid-column: 1 / 3;
}
.grid-8blok:nth-child(2){
    grid-column: 3 / 5;
}
#man{
    margin-top: 10%;
}
/*Child*/
.content #child{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
}
.grid-8blok:nth-child(1){
    grid-column: 1 / 3;
}
.grid-8blok:nth-child(2){
    display: grid;
    grid-column: 3 / 5;
    text-align: center;
}
#child{
    margin-top: 10%;
}
#childName{
    margin-top: 10%;
}
/*Arm*/
.content #arm{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
}
.grid-8blok:nth-child(1){
    display: grid;
    text-align: center;
    grid-column: 1 / 3;
}
.grid-8blok:nth-child(2){
    grid-column: 3 / 5;
}
#arm{
    margin-top: 10%;
}
/*Child*/
.content #shop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
}
.grid-8blok:nth-child(1){
    grid-column: 1 / 3;
}
.grid-8blok:nth-child(2){
    display: grid;
    grid-column: 3 / 5;
    text-align: center;
}
#shop{
    margin-top: 10%;
}
#shopName{
    margin-top: 10%;
}
.text{
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    font-size: 1.3vw;
    border: 3px solid #FF0589;
    padding: 4%;
    width: 40%;
    height: 70%;
    text-align: center;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
}

/*Button-Girl*/
.position{
    position: relative;
    text-align: center;
    display: inline;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: none;
    color: black;
    background: #ffffff;
    letter-spacing: 2px; /*Растояние между буквами*/
    transition: 0.5s;
}
.position:hover{
    color: rgb(0, 0, 0);
}
.position span{
    display: block;
    position: absolute;
    background: #FF0589;
}
.position span:nth-child(1){
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
.position:hover span:nth-child(1){

    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.position span:nth-child(2){
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
.position:hover span:nth-child(2){

    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
}
.position span:nth-child(3){
    right: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
.position:hover span:nth-child(3){

    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
.position span:nth-child(4){
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
.position:hover span:nth-child(4){

    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
.sub1{
    margin: auto;
}

/*CONTACT-CONTENT*/
/*LoginFon*/
/*Login form*/
.box{
    border-radius: 20px;
    background-color: #09100D;
    width: 300px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.box h1{
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "email"],.box input[type = "text"],.box input[type = "phone"],.box textarea[name = "text"]{
    border:0;
    background: none;
    display: block;
    margin: 15px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "email"]:focus,.box input[type = "text"]:focus,.box input[type = "phone"]:focus,.box textarea[name = "text"]:focus{
    width: 280px;
    border-color: #2ecc71;
    background-color: #2ecc71; /* Цвет фона */
}
.box button[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box button[type = "submit"]:hover{
    background: #2ecc71;
    box-shadow: 0 0 10px #2ecc71, 0 0 40px #2ecc71, 0 0 80px #2ecc71;
}

/* CERTIFACATE */
.imgcerf img{
    width: 100%;
    margin: 5%;
}
.imgcerf{
    display: grid;
    grid-gap: 5%;/*Отступ для grid*/
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5%;
}

/* SERVIS */
#Text{
    margin-top: 5%;
    text-align: center;
}
/* SHOP */
.shop-tab{
    display: grid;
    grid-template-columns: repeat(auto-fit, 290px);
}
#Estel img, #Kapous img, #Wella img, #L’Oréal img, #Nouvelle img, #Constant_Delight img, #Epica img{
    margin: 39%;
    width: 70%;
}
#html1, #html2, #html3, #html4 ,#html5, #html6{
    display: grid;
    justify-content: center;
}
#Kapous-img{
    display: grid;
    align-items: end;
    grid-template-columns: repeat(auto-fit,300px);
    text-align: center;
    margin: 5.5%;
    vertical-align: bottom;
}
#Kapous-img a{
    display: table-cell;
    margin: 0 0 10% 0;
    vertical-align: bottom;
}
.qwerty{
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
}
/* FOOTER */
footer{
    height: 100%;
    margin-top: 10%;
    background-color: #09100D;
}
.href-foot{
    display: grid;
    padding: 2%;
    grid-gap: 2.5%;
    background-color: #09100D;
}
.href-footA{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #09100D;
}